<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/appTheme.css"/>
</head>
<body>
<div th:fragment="header">
    <div th:attr="class=${headerGameManager != null ? 'headerGameManager' : 'headerCommon'}">
        <h1>
            Trading Game
        </h1>
        <a class="logInOutLink"
           th:href="${header_performLogout}"
           th:text="${header_username+' - se déconnecter'}"></a>
        <form th:action="${header_home}">
            <button class="genericButton topLeftButton1" type="submit">Accueil</button>
        </form>
        <form th:action="${header_joinGame}">
            <button class="genericButton topLeftButton2"  type="submit">Rejoindre une partie</button>
        </form>
        <form th:if="${header_admin}"
              th:action="${header_createGamePage}">
            <button class="genericButton topLeftButton3" type="submit">Gérer les parties</button>
        </form>
        <hr/>
    </div>
</div>
</body>
</html>