<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="header">
    <h1 class="pageMainTitle">
        Trading Game
    </h1>
    <a class="logInOutLink"
       th:href="${header_performLogout}"
       th:text="${header_username+' - se déconnecter'}"></a>
    <form th:action="${header_home}">
        <button class="genericButton topLeftButton" type="submit">Accueil</button>
    </form>
    <form th:action="${header_joinGame}">
        <button class="genericButton topLeftButton" style="left: 20%;"  type="submit">Rejoindre une partie</button>
    </form>
    <form th:if="${header_admin}"
          th:action="${header_createGamePage}">
        <button class="genericButton topLeftButton" style="left: 40%;" type="submit">Gérer les parties</button>
    </form>
    <hr/>
</div>
</body>
</html>