/* Police */
body {
    font-size: large;
    font-family: Carlito, sans-serif; /* Ou Calibri si problème */
}

/* Section dont les champs sont affichés verticalement */
.verticallyAligned {
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
}

/* Titres */
.pageMainTitle{
    width: 100%;
    text-align: center;
}

/* Barres de navigation */
.sidenavLeft {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 200px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: lightgrey;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    padding-left: 20px;
    padding-right : 20px;
}

.sidenavRight {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 200px; /* Set the width of #111the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;
    background-color: lightgrey;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
    font-size: 20px;
    color: #ffffff;
    display: block;
}

/* Liens portefeuilles */
.walletLink {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: black;
    display: block;
}

.walletLink:hover {
    color: white;
    background-color: dodgerblue;
    cursor: pointer;
}

/* Ligne action */
.action {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: black;
    display: block;
}

/* Boutons */
.genericButton {
    border: none;
    border-radius: 6px;
    color: white;
    background-color: dodgerblue;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    margin-top: 20px;
    transition-duration: 0.4s;
}

.genericButton:hover{
    background-color: royalblue;
    cursor: pointer;
}

.inCellButton {
    display: inline-block;
}

.topLeftButton {
    position: fixed;
    top: 0;
    left: 20px;
}

.topLeftButton1 {}

.topLeftButton2 {}

.topLeftButton3 {}

/* Cellules (ensemble de champs fermé par un bord) */
.cell {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 12px 20px;
    border: 2px solid #ccc;
    border-radius: 6px;
}

.cell ol {
    width: 85%;
    display: inline-block;
}

/* Infos Partie */
.gameCellHeader {
    padding: 12px 20px;
}

.importantInfo {
    font-weight: bold;
    color: dodgerblue;
}

.main {
    margin-left: 240px; /* Same as the width of the sidebar */
    padding: 0px 10px;
    text-decoration: none;
    font-size: 20px;
    color: #000000;
    display: block;
}

table{
    width: 79%;
    padding: 12px 20px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

td{
    height: 50px;
}

/* Infos Joueur */
.playerInfos {
    color: deepskyblue;
}

/* Connexion / Déconnexion */
.logInOutLink {
    position: fixed;
    top: 25px;
    right: 20px;
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: dimgrey;
    border: 2px solid #ccc;
    border-radius: 6px;
    background-color: white;
    transition-duration: 0.4s;
    display: block;
}

.logInOutLink:hover {
    color: white;
    background-color: dimgrey;
    cursor: pointer;
}

.registerLink {
    text-decoration: none;
    font-size: 20px;
    color: dodgerblue;
    display: block;
}

.registerLink:hover {
    color: royalblue;
    cursor: pointer;
}

/* Header */
/* Header Commun */
.headerCommon h1{
    width: 100%;
    text-align: center;
}

.headerCommon .logInOutLink{
    position: fixed;
    top: 25px;
    right: 20px;
}

.headerCommon .topLeftButton1{
    position: fixed;
    top: 0;
    left: 20px;
}

.headerCommon .topLeftButton2{
    position: fixed;
    top: 0;
    left: 10%;
}

.headerCommon .topLeftButton3{
    position: fixed;
    top: 0;
    left: 25%;
}

/* Header Gestion de partie */
.headerGameManager h1{
    width: 100%;
    text-align: center;
}

.headerGameManager .logInOutLink{
    position: fixed;
    top: 25px;
    right: 260px;
}

.headerGameManager .topLeftButton1{
    position: fixed;
    top: 0;
    left: 260px;
}

.headerGameManager .topLeftButton2{
    position: fixed;
    top: 0;
    left: 25%;
}

.headerGameManager .topLeftButton3{
    position: fixed;
    top: 0;
    left: 60%;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenavLeft {padding-top: 15px;}
    .sidenavRight {padding-top: 15px;}
    .sidenavLeft a {font-size: 18px;}
    .sidenavRight a {font-size: 18px;}
}