body {
    font-size: large;
    font-family: Carlito;
}

h1 {
    width: 100%;
    text-align: center;
}

.collapsedDiv{
    margin: 10px;
    padding: 12px 20px;
    border: 1px solid #ccc;
}

.gameHeader {
    padding: 12px 20px;
}

label span {
    font-weight: bold;
    color: dodgerblue;
}

a {
    position: fixed;
    top: 0;
    right: 20px;
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: dodgerblue;
    display: block;
}

a:hover {
    color: royalblue;
}

button{
    border: none;
    border-radius: 6px;
    color: white;
    background-color: dodgerblue;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin-top: 20px;
    transition-duration: 0.4s;
}

button:hover{
    background-color: royalblue;
}

.joinGameButton {
    position: fixed;
    top: 0;
    left: 20px;
}

div, ol {
    width: 82%;
    display: inline-block;
}

div button {
    display: inline-block;
}

.player {
    color: deepskyblue;
}