body {
    font-size: large;
    font-family: Carlito;
}

h1 {
    width: 100%;
    text-align: center;
}

.collapsedDiv{
    margin: 10px;
    padding: 12px 20px;
    border: 1px solid #ccc;
    padding: 12px 20px;
}

.gameHeader {
    padding: 12px 20px;
}

label span {
    font-weight: bold;
    color: dodgerblue;
}

a {
    position: fixed;
    top: 0;
    right: 0;
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: dodgerblue;
    display: block;
}

a:hover {
    color: royalblue;
}