/* The sidebar menu */

.sidenavLeft {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 200px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #919191;

    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    padding-left: 20px;
    padding-right : 20px;
}

.sidenavRight {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 200px; /* Set the width of #111the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;
    background-color: #919191;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

/* The navigation menu links */
.sidenavLeft a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
}

/* The navigation menu links */
.sidenavRight a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenavLeft a:hover {
    color: #d4d4d4;
}

.sidenavRight a:hover {
    color: #d4d4d4;
}

/* Style page content */
.main {
    margin-left: 240px; /* Same as the width of the sidebar */
    padding: 0px 10px;
    text-decoration: none;
    font-size: 25px;
    color: #000000;
    display: block;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenavLeft {padding-top: 15px;}
    .sidenavRight {padding-top: 15px;}
    .sidenavLeft a {font-size: 18px;}
    .sidenavRight a {font-size: 18px;}
}