<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trading Game - Création d'une partie</title>
    <link rel="stylesheet" href="/css/appTheme.css"/>
</head>
<body>
    <h1 class="pageMainTitle">Créer une partie</h1>
    <div class="verticallyAligned">
        <form th:action="${performCreateGame}" method="post">
            <div class="cell">
                <label>Durée :</label>
                <label>
                    <input name="duration" type="number">
                </label>
                <label class="importantInfo"> jours</label>
            </div>
            <div class="cell">
                <label>Nombre de portefeuilles :</label>
                <label>
                    <input name="portfolioCount" type="number">
                </label>
            </div>
            <div class="cell">
                <label>Solde initial :</label>
                <label>
                    <input name="initialBalance" type="number">
                </label>
                <label class="importantInfo">$</label>
            </div>
            <div class="cell">
                <label>Frais de transaction :</label>
                <label>
                    <input name="fee" type="number"/>
                </label>
                <label class="importantInfo">$</label>
            </div>
            <div class="cell">
                <label>Date de départ :</label>
                <label>
                    <input name="startDate" type="date"/>
                </label>
            </div>
            <!-- Confirmation -->
            <input type="submit" name="submit" style="display: inline-block"/>
        </form>
    </div>
</body>
</html>