<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trading Game - Gérer les parties</title>
    <link rel="stylesheet" href="/css/appTheme.css"/>
</head>
<body>
    <div th:replace="fragment/header :: header"></div>
    <h2 class="pageMainTitle">Créer une partie</h2>
    <div class="verticallyAligned">
        <form th:action="${performCreateGame}" method="post">
            <div class="cell">
                <label>Durée :</label>
                <label>
                    <input name="duration" type="number">
                </label>
                <label class="importantInfo"> jours</label>
            </div>
            <div class="cell">
                <label>Nombre de portefeuilles :</label>
                <label>
                    <input name="portfolioCount" type="number">
                </label>
            </div>
            <div class="cell">
                <label>Solde initial :</label>
                <label>
                    <input name="initialBalance" type="number">
                </label>
                <label class="importantInfo">$</label>
            </div>
            <div class="cell">
                <label>Frais de transaction :</label>
                <label>
                    <input name="fee" type="number"/>
                </label>
                <label class="importantInfo">$</label>
            </div>
            <div class="cell">
                <label>Date de départ :</label>
                <label>
                    <input name="startDate" type="date"/>
                </label>
            </div>
            <!-- Confirmation -->
            <input type="submit" name="submit" style="display: inline-block"/>
        </form>
    </div>
    <h2 class="pageMainTitle">Gérer les parties</h2>
    <div>
        <div class="cell" th:each="game, iStat: ${startableGames}">
            <label class="gameCellHeader">Partie n°<span class="importantInfo" th:text="${iStat.index+1}"></span></label>
            <label class="gameCellHeader"><span class="importantInfo" th:text="${game.getCurrentDuration()+'/'+game.getTotalDuration()}"></span> jours</label>
            <label class="gameCellHeader">Depuis le <span class="importantInfo" th:text="${dateFormat.format(game.getStartDate())}"></span></label>
            <ul>
                <li>
                    <label class="gameCellHeader">Nombre de joueurs actuel : <span class="importantInfo" th:text="${game.getPlayerCount()}"></span></label>
                </li>
                <li>
                    <label class="gameCellHeader">Montant initial : <span class="importantInfo" th:text="${game.getMaxPortfolios()+'x'+(game.getInitialBalance()/100)+'€'}"></span></label>
                    <label class="gameCellHeader">Frais de transaction : <span class="importantInfo" th:text="${(game.getTransactionFee()/100)+'€'}"></span></label>
                </li>
            </ul>
            <form th:action="${performStartGame}" method="post">
                <input name="gameId" type="hidden" th:value="${game.getId()}"/>
                <label>Durée d'une journée (minutes)</label>
                <label>
                    <input name="duration" type="number" value="10"/>
                </label>
                <button type="submit" name="submit">Démarrer</button>
            </form>
        </div>
    </div>

</body>
</html>