<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trading Game - Création d'ordre</title>
    <link rel="stylesheet" href="/css/createOrder.css"/>
</head>
<body>
<!-- Choix type d'ordre -->
<div>
    <div class="collapsedDiv">
        <label class="verticalAligned" for="orderTypeSelect">Type :</label>
        <select class="verticalAligned" name="types" id="orderTypeSelect">
            <option value="buy">Achat</option>
            <option value="sell">Vente</option>
        </select>
    </div>
    <!-- Choix ticker -->
    <div class="collapsedDiv">
        <label class="verticalAligned" for="tickerSelect">Ticker :</label>
        <select class="verticalAligned" name="tickers" id="tickerSelect">
            <option>GDF</option>
            <option>Total</option>
        </select>
    </div>
    <!-- Infos -->
    <label class="verticalAligned collapsedDiv">Coût à l'unité : <span>50$</span></label>
    <div class="collapsedDiv">
        <label class="verticalAligned">Quantité :</label>
        <input class="verticalAligned" type="text"/>
    </div>
    <!-- Confirmation -->
    <button>Confirmer</button>
</div>
</body>
</html>