<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trading Game - Création d'ordre</title>
</head>
<body>
<!-- Choix type d'ordre -->
<label for="orderTypeSelect">Type :</label>
<select name="types" id="orderTypeSelect">
    <option value="buy">Achat</option>
    <option value="sell">Vente</option>
</select>
<!-- Choix ticker -->
<label for="tickerSelect">Type :</label>
<select name="tickers" id="tickerSelect">
    <option>GDF</option>
    <option>Total</option>
</select>
<!-- Infos -->
<label>Coût à l'unité : 50$</label>
<label>Quantité :</label>
<input type="text"/>
<!-- Confirmation -->
<button>Confirmer</button>
</body>
</html>