<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trading Game - Création d'une partie</title>
    <link rel="stylesheet" href="/css/appTheme.css"/>
</head>
<body>
    <h1 class="pageMainTitle">Créer une partie</h1>
    <div class="verticallyAligned">
        <div class="cell">
            <label>Durée :</label>
            <input type="number">
            <label class="importantInfo"> jours</label>
        </div>
        <div class="cell">
            <label>Nombre de portefeuilles :</label>
            <input type="number">
        </div>
        <div class="cell">
            <label>Solde initial :</label>
            <input type="number">
            <label class="importantInfo"> k$</label>
        </div>
        <div class="cell">
            <label>Frais de transaction :</label>
            <input type="number"/>
            <label class="importantInfo"> $</label>
        </div>
        <div class="cell">
            <label>Date de départ :</label>
            <input type="date"/>
        </div>
        <div class="cell">
            <label>Durée d'une journée :</label>
            <input type="number"/>
            <label class="importantInfo"> minutes</label>
        </div>
        <!-- Confirmation -->
        <button style="display: inline-block" class="genericButton">Confirmer</button>
    </div>
</body>
</html>