<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trading Game - Création d'ordre</title>
    <link rel="stylesheet" href="/css/appTheme.css"/>
</head>
<body>
    <h1>Créer une ordre</h1>
    <div class="verticallyAligned">
        <form th:action="${performCreateOrder}" method="post">
            <input name="playerId" type="hidden" th:value="${playerId}"/>
            <input name="portfolioId" type="hidden" th:value="${portfolioId}"/>
            <div class="cell verticallyAligned">
                <label for="orderTypeSelect">Type :</label>
                <select name="orderType" id="orderTypeSelect">
                    <option value="buy">Achat</option>
                    <option value="sell">Vente</option>
                </select>
            </div>
            <!-- Choix ticker -->
            <div class="cell verticallyAligned">
                <label for="tickerSelect">Ticker :</label>
                <select name="orderTicker" id="tickerSelect">
                    <option th:each="ticker: ${tickers}" th:text="${ticker.getSymbol()}"></option>
                </select>
            </div>
            <!-- Infos -->
            <div class="cell verticallyAligned">
                <label>Quantité :</label>
                <label>
                    <input name="orderQuantity" type="number"/>
                </label>
            </div>
            <input type="submit" name="submit" value="Créer l'ordre">
        </form>
    </div>
</body>
</html>