<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trading Game - Gestion de partie</title>
    <link rel="stylesheet" href="/css/appTheme.css"/>
</head>
<body>
    <!-- Side navigation bars -->
    <div th:replace="fragment/header :: header"></div>
    <div class="sidenavLeft">
        <label th:text="${'Total:'+totalBalance+'€'}"></label>
        <a th:each="portfolio, iStat:${playerPortfolios}"
            class="walletLink"
            th:text="${'Portfolio '+(iStat.index+1)+' ('+portfolio.getBalance()/100.0+'€)'}"
            th:href="${viewPortfolio+(iStat.index+1)}"></a>
    </div>
    <div class="sidenavRight">
        <h3 class="action">Mes parts</h3>
        <ul>
            <li class="action" th:each="ticker:${portfolioTickers}">
                <span class="importantInfo" th:text="${ticker.getSymbol()}"></span> - <span class="importantInfo" th:text="${ticker.getQuantity()}"></span>
            </li>
        </ul>
    </div>
    <!-- Page content -->
    <div class="main">
        <h3 th:text="${'Solde portefeuille '+ currentPortfolioNumber + ':' + currentPortfolioBalance+'€' }"></h3>
        <table>
            <thead>
            <tr>
                <th colspan="2" th:text="${'Ordres portefeuille '+currentPortfolioNumber}"></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Part</td>
                <td>Type</td>
                <td>Statut</td>
            </tr>
            <tr th:each="order: ${portfolioOrders}">
                <td th:text="${order.getSymbol()}"></td>
                <td th:text="${order.getType()}"></td>
                <td th:text="${order.getStatus()}"></td>
            </tr>
            </tbody>
        </table>
        <form th:action="${createOrder}">
            <input type="hidden" name="gameId" th:value="${gameId}"/>
            <input type="hidden" name="portfolioId" th:value="${currentPortfolioId}"/>
            <input type="hidden" name="playerId" th:value="${playerId}"/>
            <button class="genericButton" type="submit">Créer un ordre</button>
        </form>
    </div>
</body>
</html>