<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Trading Game - Gestion de partie</title>
    <link rel="stylesheet" href="/css/nav.css"/>
</head>
<body>
    <!-- Side navigation (Left)-->
    <div class="sidenavLeft">
        <a href="#">Portefeuille 1</a>
        <a href="#">Portefeuille 2</a>
    </div>

    <!-- Side navigation (Left)-->
    <div class="sidenavRight">
        <a href="#">Mes parts</a>
    </div>

    <!-- Page content -->
    <div class="main">
        <p>Ceci est un test</p>
    </div>
</body>
</html>