<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Trading Game - Partie sélectionnée</title>
  <link rel="stylesheet" href="/css/appTheme.css"/>
</head>
<body>
  <h1 class="pageMainTitle">Rejoindre une partie</h1>
  <div style="width: 100%; position: fixed; top: 30%; left: 35%;">
    <label>Nombre de portefeuilles :</label>
    <label>
      <input type="number"/>
    </label>
    <label> / <span class="importantInfo">3</span></label>
  </div>
  <form action="/index">
    <button class="genericButton topLeftButton" type="submit">Accueil</button>
  </form>
  <form action="/gameManager">
    <button class="genericButton" style="position: fixed; bottom: 35%; left: 45%;" type="submit">Rejoindre</button>
  </form>
</body>
</html>