<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Trading Game</title>
  <link rel="stylesheet" href="/css/appTheme.css"/>
</head>
<body>
  <h1 class="pageMainTitle">Trading Game</h1>
  <a class="logInOutLink"
     th:href="${performLogout}"
     th:text="${username+' - se déconnecter'}"></a>
  <form th:action="${joinGame}">
    <button class="genericButton topLeftButton" type="submit">Rejoindre une partie</button>
  </form>
  <form th:if="${admin}"
        th:action="${createGamePage}">
    <button class="genericButton topLeftButton" style="left: 19%;" type="submit">Créer une partie</button>
  </form>
  <div class="cell" th:each="game, iStat: ${joinableGames}">
    <label class="gameCellHeader">Partie n°<span class="importantInfo" th:text="${iStat.index+1}"></span></label>
    <label class="gameCellHeader"><span class="importantInfo" th:text="${game.getCurrentDuration()+'/'+game.getTotalDuration()}"></span> jours</label>
    <label class="gameCellHeader">Depuis le <span class="importantInfo" th:text="${dateFormat.format(game.getStartDate())}"></span></label>
    <button class="genericButton inCellButton">Voir le jeu</button>
  </div>
</body>
</html>