<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Trading Game - Page d'accueil</title>
  <link rel="stylesheet" href="/css/appTheme.css"/>
</head>
<body>
  <h1 class="pageMainTitle">Trading Game ©</h1>
  <a class="logInOutLink" href="/performLogout">xXxTr4d3rxXx - Se déconnecter</a>
  <!-- Liste des parties -->
  <div class="cell">
    <label class="gameCellHeader">Partie n°<span class="importantInfo">1</span></label>
    <label class="gameCellHeader"><span class="importantInfo">3</span> jours</label>
    <label class="gameCellHeader">Depuis le <span class="importantInfo">04/03/2020</span></label>
    <ol>
      <li>
        <label class="playerInfos">xXxTr4d3rxXx</label>
        <label class="playerInfos">5664000$</label>
      </li>
      <li>
        <label>Jean</label>
        <label>50$</label>
      </li>
    </ol>
    <button class="genericButton inCellButton">Voir le jeu</button>
  </div>
  <div class="cell">
    <label class="gameCellHeader">Partie n°<span class="importantInfo">2</span></label>
    <label class="gameCellHeader"><span class="importantInfo">3</span> jours</label>
    <label class="gameCellHeader">Depuis le <span class="importantInfo">04/03/2020</span></label>
    <ol>
      <li>
        <label class="playerInfos">xXxTr4d3rxXx</label>
        <label class="playerInfos">5664000$</label>
      </li>
      <li>
        <label>Jean</label>
        <label>50$</label>
      </li>
    </ol>
    <button class="genericButton inCellButton">Voir le jeu</button>
  </div>
  <form action="/joinGame">
    <button class="genericButton topLeftButton" type="submit">Rejoindre une partie</button>
  </form>
</body>
</html>