<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trading Game - Page d'accueil</title>
    <link rel="stylesheet" href="/css/appTheme.css"/>
</head>
<body>
    <h1 class="pageMainTitle">Trading Game ©</h1>
    <a class="logInOutLink" href="/logIn">Se connecter / S'enregistrer</a>
    <!-- Liste des parties -->
    <div th:each="game: ${currentGames}">
        <div class="cell">
            <label class="gameCellHeader">Partie n°<span class="importantInfo" th:text="${game.id}"></span></label>
            <label class="gameCellHeader"><span class="importantInfo" th:text="${game.currentDuration}"></span> jours</label>
            <label class="gameCellHeader">Depuis le <span class="importantInfo" th:text="${game.startDate}"></span></label>
            <ol>
                <li th:each="player: ${game.players}">
                    <label class="playerInfos" th:text="${player.user.getUsername()}"></label>
                </li>
            </ol>
        </div>
    </div>
</body>
</html>