<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Trading Game - Page d'accueil</title> <!-- TODO : Voir si nécessaire de rajouter le nom du joueur -->
  <link rel="stylesheet" href="/css/homePagePlayer.css"/>
</head>
<body>
<h1>Trading Game ©</h1>
<a>xXxTr4d3rxXx - Se déconnecter</a>
<!-- Liste des parties -->
<div class="collapsedDiv">
  <label class="gameHeader">Partie n°<span>1</span></label>
  <label class="gameHeader"><span>3</span> jours</label>
  <label class="gameHeader">Depuis le <span>04/03/2020</span></label>
  <ol>
    <li>
      <label class="player">xXxTr4d3rxXx</label>
      <label class="player">5664000$</label>
    </li>
    <li>
      <label>Jean</label>
      <label>50$</label>
    </li>
  </ol>
  <button>Voir le jeu</button>
</div>
<div class="collapsedDiv">
  <label class="gameHeader">Partie n°<span>2</span></label>
  <label class="gameHeader"><span>3</span> jours</label>
  <label class="gameHeader">Depuis le <span>04/03/2020</span></label>
  <ol>
    <li>
      <label class="player">xXxTr4d3rxXx</label>
      <label class="player">5664000$</label>
    </li>
    <li>
      <label>Jean</label>
      <label>50$</label>
    </li>
  </ol>
  <button>Voir le jeu</button>
</div>
<form action="/joinGame">
  <button class="joinGameButton" type="submit">Rejoindre une partie</button>
</form>
</body>
</html>