<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trading Game - Page d'accueil</title>
    <link rel="stylesheet" href="/css/appTheme.css"/>
</head>
<body>
    <h1 class="pageMainTitle">Trading Game ©</h1>
    <a class="logInOutLink" th:href="${loginPage}">Se connecter / S'enregistrer</a>
    <h2>Parties en cours</h2>
    <div class="cell" th:each="game, iStat: ${currentGames}">
        <label class="gameCellHeader">Partie n°<span class="importantInfo" th:text="${iStat.index+1}"></span></label>
        <label class="gameCellHeader"><span class="importantInfo" th:text="${game.getCurrentDuration()+'/'+game.getTotalDuration()}"></span> jours</label>
        <label class="gameCellHeader">Depuis le <span class="importantInfo" th:text="${dateFormat.format(game.getStartDate())}"></span></label>
        <ul>
            <li>
                <label class="gameCellHeader">Nombre de joueurs actuel : <span class="importantInfo" th:text="${game.getPlayerCount()}"></span></label>
            </li>
            <li>
                <label class="gameCellHeader">Montant initial : <span class="importantInfo" th:text="${game.getMaxPortfolios()+'x'+(game.getInitialBalance()/100+'€')}"></span></label>
                <label class="gameCellHeader">Frais de transaction : <span class="importantInfo" th:text="${(game.getTransactionFee()/100)+'€'}"></span></label>
            </li>
        </ul>
    </div>
</body>
</html>