<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Trading Game</title>
  <link rel="stylesheet" href="/css/appTheme.css"/>
</head>
<body>
  <div th:replace="fragment/header :: header"></div>
  <h2>Mes parties en cours</h2>
  <div class="cell" th:each="game, iStat: ${joinedGames}">
    <label class="gameCellHeader">Partie n°<span class="importantInfo" th:text="${iStat.index+1}"></span></label>
    <label class="gameCellHeader"><span class="importantInfo" th:text="${game.getCurrentDuration()+'/'+game.getTotalDuration()}"></span> jours</label>
    <label class="gameCellHeader">Depuis le <span class="importantInfo" th:text="${dateFormat.format(game.getStartDate())}"></span></label>
    <ul>
      <li>
        <label class="gameCellHeader">Nombre de joueurs actuel : <span class="importantInfo" th:text="${game.getPlayerCount()}"></span></label>
      </li>
      <li>
        <label class="gameCellHeader">Montant initial : <span class="importantInfo" th:text="${game.getMaxPortfolios()+'x'+(game.getInitialBalance()/100)+'€'}"></span></label>
        <label class="gameCellHeader">Frais de transaction : <span class="importantInfo" th:text="${(game.getTransactionFee()/100)+'€'}"></span></label>
      </li>
    </ul>
    <ol>
      <li th:each="player, iStat: ${game.getRankings()}">
        <div th:text="${player.getPlayerName()+' ('+player.getTotalBalance()/100.0+'€)'}"></div>
      </li>
    </ol>
    <form style="display: inline-block" th:action="${viewGame}" method="get">
      <input name="gameId" type="hidden" th:value="${game.getId()}">
      <button class="genericButton inCellButton" type="submit">Voir le jeu</button>
    </form>
  </div>
  <h2>Mes parties terminées</h2>
  <div class="cell" th:each="game, iStat: ${endedGames}">
    <label class="gameCellHeader">Partie n°<span class="importantInfo" th:text="${iStat.index+1}"></span></label>
    <label class="gameCellHeader"><span class="importantInfo" th:text="${game.getCurrentDuration()+'/'+game.getTotalDuration()}"></span> jours</label>
    <label class="gameCellHeader">Depuis le <span class="importantInfo" th:text="${dateFormat.format(game.getStartDate())}"></span></label>
    <ul>
      <li>
        <label class="gameCellHeader">Nombre de joueurs : <span class="importantInfo" th:text="${game.getPlayerCount()}"></span></label>
      </li>
      <li>
        <label class="gameCellHeader">Montant initial : <span class="importantInfo" th:text="${game.getMaxPortfolios()+'x'+(game.getInitialBalance()/100)+'€'}"></span></label>
        <label class="gameCellHeader">Frais de transaction : <span class="importantInfo" th:text="${(game.getTransactionFee()/100)+'€'}"></span></label>
      </li>
    </ul>
    <ol>
      <li th:each="player, iStat: ${game.getRankings()}">
        <div th:text="${player.getPlayerName()+' ('+player.getTotalBalance()/100.0+'€)'}"></div>
      </li>
    </ol>
    <form style="display: inline-block" th:action="${viewGame}" method="get">
      <input name="gameId" type="hidden" th:value="${game.getId()}">
      <button class="genericButton inCellButton" type="submit">Voir le jeu</button>
    </form>
  </div>
</body>
</html>