<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Trading Game - Rejoindre une partie</title>
  <link rel="stylesheet" href="/css/appTheme.css"/>
</head>
<body>
  <h1 class="pageMainTitle">Rejoindre une partie</h1>
  <div class="cell" th:each="game, iStat: ${availableGames}">
    <label class="gameCellHeader">Partie n°<span class="importantInfo" th:text="${iStat.index+1}"></span></label>
    <label class="gameCellHeader"><span class="importantInfo" th:text="${game.getTotalDuration()}"></span> jours</label>
    <label class="gameCellHeader">A partir du <span class="importantInfo" th:text="${dateFormat.format(game.getStartDate())}"></span></label>
    <ol>
      <li>
        <label class="gameCellHeader">Nombre de joueurs actuel : <span class="importantInfo" th:text="${game.getPlayerCount()}"></span></label>
      </li>
      <li>
        <label class="gameCellHeader">Montant initial : <span class="importantInfo" th:text="${game.getMaxPortfolios()+'x'+(game.getInitialBalance()/100)}"></span></label>
        <label class="gameCellHeader">Frais de transaction : <span class="importantInfo" th:text="${(game.getTransactionFee()/100)}"></span></label>
      </li>
    </ol>
    <form style="display: inline-block" th:action="${performJoinGame}" method="post">
      <input name="gameId" type="hidden" th:value="${game.getId()}">
      <button class="genericButton inCellButton" type="submit">Rejoindre</button>
    </form>
  </div>
</body>
</html>