<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trading Game - Créer un compte</title>
    <link rel="stylesheet" href="/css/appTheme.css"/>
</head>
<body>
<h1 class="pageMainTitle">S'enregistrer</h1>
<form action="/performRegister" method="POST">
    <div class="verticallyAligned" style="position: fixed; top: 20%; left: 35%;">
        <!-- Pseudo -->
        <div style="margin-top: 20px; margin-bottom: 20px;">
            <label>Nom d'utilisateur :</label>
            <label>
                <input type="text" name="username">
            </label>
        </div>
        <!-- Mot de passe -->
        <div style="margin-top: 20px; margin-bottom: 20px;">
            <label>Mot de passe :</label>
            <label>
                <input type="password" name="password">
            </label>
        </div>
    </div>
    <button class="genericButton" style="position: fixed; bottom: 40%; left: 43%;" type="submit" name="submit">Créer le compte</button>
</form>
<div style="color:red" th:if="${error != null}" th:text="${error}"></div>
</body>
</html>